@import '../../../../Scss/Mixins';

#projectTabContainer {
  width: 100%;

  #popupWindowContainer {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: $index-4;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .window {
      padding: 2rem;
      background-color: var(--background-alternate);
      border-radius: $border-radius--primary;
      display: flex;
      flex-direction: column;

      #close {
        margin-left: auto;
        color: var(--text-primary);

      }
    }
  }

  #projectList {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    
    @media #{$mobile-down} {
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
    
    h4 {
      text-align: center;
    }
    
    .projectCard {
      background: rgba($color-white, 0.05);
      border-radius: $border-radius--primary;
      box-shadow: $box-shadow--primary;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover::before {
        opacity: 1;
      }

      &::before {
        background: radial-gradient(
          800px circle at var(--mouse-x) var(--mouse-y),
          rgba($color-white, 0.06),
          transparent 40%
        );
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        transition: opacity $transition-fast;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: $index-2;
      }

      .cardContent {
        background: rgba(var(--background-alternate-rgb), 0.6);
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: inherit;
      }

      .imgWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: $border-radius--primary;
        max-height: 250px;
        max-width: 250px;
        margin-bottom: 2rem;
        align-self: center;

        img {
          height: inherit;
          width: inherit;
        }
      }

      span {
        display: inline-flex;
        align-items: center;
        
        figure {
          @include input;
          @include font--primary(400);
          margin-left: 1rem;
          padding: 0.25rem 0.5rem;
          background: var(--background);
          border-radius: $border-radius--primary;

          .finished {
            color: $color-green;
          }

          .in-progress {
            color: $color-orange;
          }
        }
      }

      .tagList {
        display: flex;
        flex-wrap: wrap;

        .tag {
          @include input;
          @include font--primary(500);
          font-style: italic;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding: 0.25rem 1rem;
          background: var(--background);
          border-radius: $border-radius--primary - 2;
          box-shadow: $box-shadow--primary;
          margin: 0.25rem;
        }
      }
    }
  }
}